html{
    background-color: #1eb2a6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: black;
    height: 420px;
    width: 450px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    text-align: center;
}

.container h1{
    font-size: 3rem;
}

form [type="text"], form [type="password"]{
    background: none;
    border: 0;
    padding: 10px 14px;
    width: 200px;
    margin: 10px 20px;
    border: 2px solid #00a8cc;
    border-radius: 24px;
    text-align: center;
    color: white;
    outline: none;
}

form [type="text"]:focus, form [type="password"]:focus{
    width: 300px;
    border-color: #fe346e;
}

form [type="submit"]{
    background: none;
    border: 0;
    padding: 10px 14px;
    width: 100px;
    margin: 10px 20px;
    border: 2px solid #fe346e;
    border-radius: 24px;
    text-align: center;
    color: white;
    outline: none;
}

form [type="submit"]:hover{
    background-color: #fe346e;
}

form a{
    color: #00a8cc;
    font-size: 1.2rem;
}

form a:hover{
    color: #fe346e;
}

@media (max-width: 500px){
    .container{
        background-color: black;
        height: 260px;
        width: 320px;
        position: absolute;
        top: 35%;
        left: 20%;
        color: white;
        text-align: center;
    }
    
    .container h1{
        font-size: 1.5rem;
        margin-top: 35px;
    }

    form [type="text"], form [type="password"]{
        background: none;
        border: 0;
        padding: 5px 9px;
        width: 150px;
        margin: 10px 20px;
        border: 2px solid #00a8cc;
        border-radius: 24px;
        text-align: center;
        color: white;
        outline: none;
    }
    form [type="text"]:focus, form [type="password"]:focus{
        width: 200px;
    }


}